In [2]:
import airpy as ap
import numpy as np
import pandas as pd
import gensim
import nltk
from nltk.corpus import stopwords
from gensim import corpora
from gensim import models
import pyLDAvis.gensim
import csv
import feather
import random

In [3]:
#get common names list from disk
path_names = '~/data/first_message_text_names.csv'
common_names = list(pd.read_csv(path_names)['dim_first_name'])

#get message text from disk
path_messages = '~/data/first_message_text_lower.csv'
df1 = pd.DataFrame(pd.read_csv(path_messages)['message_text_lower'].dropna())

In [4]:
#build documents list (remember to drop na's)
documents = []
for index, row in df1.iterrows():
    documents.append(row.message_text_lower)
    
#generate a stoplist
stoplist = stopwords.words('english')
stoplist += common_names

print 'common names done'

# tokenize the text 
doc_token = [[word for word in list(gensim.utils.tokenize(document)) if word not in stoplist] for document in documents]

print 'tokenization done'

# build it into dictionary map
dictionary = corpora.Dictionary(doc_token)

# create the corpus for LDA 
corpus = [dictionary.doc2bow(message_text) for message_text in list(doc_token)]

# convert to TD-IDF
tfidf = models.TfidfModel(corpus)
corpus_tfidf = tfidf[corpus]

common names done
tokenization done

In [ ]:
# train a LDA model
%time 

lda_model_30 = gensim.models.LdaModel(corpus_tfidf, num_topics=30, alpha=0.0001, id2word=dictionary, passes=6)
lda_model_30.save('lda_test.model')

In [1]:
lda_model_30 = models.LdaModel.load('lda_test.model')
cx_data =  pyLDAvis.gensim.prepare(lda_model_30, corpus_tfidf, dictionary)
pyLDAvis.display(cx_data)

NameError: name 'models' is not defined

In [29]:
mendy = lda_model_30[corpus[13231]]

In [31]:
documents[13231]

"hey! my names noah and i'm a musician. coming to la for 10 days to visit some friends and this would be a great place to come rest my head."

In [25]:
mendy[[item[0] for item in mendy].index(max([item[0] for item in mendy]))]

(26, 0.12486540101425797)

In [28]:
mendy[[item[1] for item in mendy].index(max([item[1] for item in mendy]))]

(15, 0.79818883615489977)

In [112]:
sum([item[1] for item in mendy])

0.99980718417481995

In [35]:
x = [1,2,3,4,13]
print x.index(1)
print x.index(max(x))
x[x.index(max(x))]

0
4

13

In [36]:
print x
x.append(100)
print x

[1, 2, 3, 4, 13]
[1, 2, 3, 4, 13, 100]

In [42]:
documents[192144]

'hi hugh,    my name is rani. this is my first time visiting redwood city for a meeting at stanford and was wondering if you had any availability on the night of march 22nd/23rd in your beautiful home. please let me know if i can provide any additional information in regards to the booking.    thank you!    best,  rani'

In [ ]:
#Hyper-parameter optimization: compare likelihood on test set for different number of topics

In [43]:
#make a list of message text, what topic was the most likely for that message text

random.seed(20170710)
#sample 10000 random contacts
n_corpus = len(corpus)
n_sample = 10000

mask = random.sample(xrange(n_corpus), n_sample)
messages_topics = []

#find the most relevant topic to each of these documents
for i in range(n_sample):
    #get array of topics and probabilities for document i
    results_i = lda_model_30[corpus[mask[i]]]
    
    ret = results_i[[item[1] for item in results_i].index(max([item[1] for item in results_i]))]
    
    messages_topics.append([documents[mask[i]], ret[0], ret[1]])
    
    
messages_topic_0 = [x for x in messages_topics if x[1] == 0]
messages_topic_1 = [x for x in messages_topics if x[1] == 1]
messages_topic_2 = [x for x in messages_topics if x[1] == 2]
messages_topic_3 = [x for x in messages_topics if x[1] == 3]
messages_topic_4 = [x for x in messages_topics if x[1] == 4]
messages_topic_5 = [x for x in messages_topics if x[1] == 5]

In [179]:
#sample messages tagged with topic 1, make a list of [message text, topic, probability of being in topic]
random.seed(20170713)

#sample 100000 random contacts
n_corpus = len(corpus)
n_sample = 100000

mask = random.sample(xrange(n_corpus), n_sample)
messages_topic_1 = []

#find all the documents that are tagged with topic 1
for i in range(n_sample):
    #get array of topics and probabilities for document i
    results_i = lda_model_30[corpus[mask[i]]]
    #make list of [topic 1, probability of being in topic 1]
    list_temp = [item for item in results_i if item[0] == 1]
    #check if the topic is actually tagged
    if len(list_temp) > 0:
        messages_topic_1.append([documents[mask[i]], list_temp[0][0], list_temp[0][1]])

In [182]:
[x for x in messages_topic_1 if x[2] > 0.5]

[['visiting / touring', 1, 0.50902800547025029],
 ['hello dino jose here', 1, 0.99855217174238342],
 ['masters', 1, 0.99710867397806613],
 ['we are prisca and stephanie. ', 1, 0.99710867397806613],
 ['my niece is graduating from cal state fullerton', 1, 0.5596125671132961],
 ['attending an accelerator', 1, 0.99855217174238342],
 ['hej justyna!:)    razem z mezem pawlem pochodzimy z wroclawia, gdzie zyjemy i pracujemy. przyjezdzamy z mezem do us pierwszy raz. 20 maja wracamy z miami i konczymy przygode w nowym yorku:) przylatujemy w okolicach 11 am, wiec pytanie czy moglibysmy sie zameldowac w okolicach 1 pm?    wracamy do polski 25 maja i lot mamy pozno bo o 9 pm. czy jest mozliwosc zostawienia bagazy abysmy mogli przed lotem przespacerowac sie jeszcze ostatni raz?:)    dziekuje z gory za odpowiedz i pozdrawiamy,  justyna & pawel',
  1,
  0.5842105274620164],
 ['state farm', 1, 0.99855217174238342],
 ['hi leida!', 1, 0.99855217174238342],
 ['heavyyyyyyyyyyy', 1, 0.99710867397806613],
 ['rob witty will be the guest. please email him details wittyr@leadforensics.com',
  1,
  0.59111651781855123],
 ['mshuman@loyalloops.com', 1, 0.99903429903429697],
 ['i <3 the jarhole', 1, 0.99710867397806613],
 ['hallo! ich bin michael  ich bin zur zeit bei freunden in sarasota und mchte 3 tage in miami am strand verbringen und einige sehenswrdigkeit besichtigen. ich reise mit meiner lebensgefhrtin. ',
  1,
  0.54769413760790975],
 ['raising funding on sand hill rd for our startup tanvas (www.tanvas.co).',
  1,
  0.60915002743778268],
 ['big chilli contest', 1, 0.66603396603396336],
 ['yunzhi\xe4\xbd\xa0\xe5\xa5\xbd,\xe6\x88\x91\xe6\x98\xaf\xe4\xb8\x80\xe4\xbd\x8d\xe6\x9d\xa5san mateo\xe5\xae\x9e\xe4\xb9\xa0\xe7\x9a\x84\xe5\xa4\xa7\xe5\xad\xa6\xe7\x94\x9f.',
  1,
  0.99903429903429697],
 ['we are visiting for our babymoon', 1, 0.50871529446010422],
 ['heyy', 1, 0.99710867397806613],
 ['mark, working on the solar project in waseca.', 1, 0.68650194504125395],
 ['we are going to the masters.', 1, 0.99855217174238342],
 ["duke's graduation!", 1, 0.51526361953252087],
 ['waaaz up', 1, 0.99710867397806613],
 ['qaqqaqaqaqaqaqaqqaqaqaqaqaqaqqaqaqaqaqaqaqqaqaqaqaqaqaqqaqaqaqaqaqaqqaqaqaqaqaqaqqaqaqaqaqa',
  1,
  0.99710867397806613],
 ['hello, livio!  we are visiting some friends and conducting some interviews for our magazine "rigas laiks" (www.rigaslaiks.com).  arnis',
  1,
  0.53341026910240774],
 ['bhootni kay', 1, 0.99710867397806613],
 ['visiting columbia university.', 1, 0.68010405159949483],
 ['work for state farm', 1, 0.99903429903429697],
 ['touring the park', 1, 0.5022193843501831],
 ['tanglewood and other summer activities', 1, 0.58427818123414499],
 ['coming to town for sdcc', 1, 0.99903429903429697],
 ['working an event for our company malk organics', 1, 0.9994203477913266],
 ['\xe5\x93\x88\xe5\x96\xbd \xe6\x88\x91\xe5\x90\x8c\xe5\xad\xa6\xe4\xb9\x8b\xe5\x89\x8d\xe4\xbd\x8f\xe8\xbf\x87\xe4\xbd\xa0\xe7\x9a\x84airbnb\xe6\x8e\xa8\xe8\x8d\x90\xe6\x9d\xa5\xe7\x9a\x84\xef\xbd\x9e\xe6\xad\xa3\xe5\xa5\xbd\xe6\xb3\xa2\xe5\xa3\xab\xe9\xa1\xbf\xe7\x8e\xa9\xe5\xb0\xb1\xe6\x9d\xa5\xe4\xbd\x8f\xe4\xbd\x8f\xe7\x9c\x8b\xe5\x95\xa6\xef\xbd\x9e',
  1,
  0.99903429903429697],
 ['i will be selling hats and networking at the wawa philadelphia 4th of july weekend event . ig @thebigoctober . company website thebigoctober.com',
  1,
  0.50543094710849656],
 ['hi! i\xe2\x80\x99m sashain', 1, 0.99855217174238342],
 ['in town for pride!', 1, 0.99855217174238342],
 ['we\xe2\x80\x99re visiting columbia because', 1, 0.50869751480996173],
 ['qaqa', 1, 0.99710867397806613],
 ['hi marsha, we are coming to la jolla from minneapolis to listen to my son play at the la jolla music festival. he is a classical music concert pianist.',
  1,
  0.51190914484246874],
 ['blah', 1, 0.99710867397806613],
 ['hi,  this will be a breif stay, but i want to be accessible to getting to my clients in the d.c area. i own three i.t companies www.sbtsgroup.com www.trainingsol.com and www,kallmania.com',
  1,
  0.64933483306328177],
 ['masters!!!', 1, 0.99710867397806613],
 ['\xec\x95\x88\xeb\x85\x95\xed\x95\x98\xec\x84\xb8\xec\x9a\x94^^  \xec\x97\x98\xec\x97\x90\xec\x9d\xb4\xec\x97\x90 \xea\xb1\xb0\xec\x9d\x98 \xec\xb2\x98\xec\x9d\x8c \xec\x97\xac\xed\x96\x89\xed\x95\x98\xeb\x9f\xac \xea\xb0\x80\xeb\x8a\x94 \xeb\x89\xb4\xec\x97\xad \xed\x86\xa0\xeb\xb0\x95\xec\x9d\xb4 \xea\xb5\x90\xed\x8f\xac \xec\x97\xac\xec\x84\xb1\xec\x9e\x85\xeb\x8b\x88\xeb\x8b\xa4. \xec\x9a\xb4\xec\xa0\x84\xec\x9d\x84 \xeb\xaa\xbb\xed\x95\xb4\xec\x84\x9c :-(  \xeb\x8f\x84\xeb\xb3\xb4\xec\x99\x80 \xeb\x8c\x80\xec\xa4\x91\xea\xb5\x90\xed\x86\xb5\xec\x9c\xbc\xeb\xa1\x9c \xeb\xb9\x84\xea\xb5\x90\xec\xa0\x81 \xed\x8e\xb8\xed\x95\x9c\xea\xb3\xb3\xec\x9d\x84 \xec\xb0\xbe\xeb\x8d\x98\xec\xa4\x91\xec\x97\x90 \xeb\xae\xa4\xec\xa7\x80\xec\x97\x84\xeb\x8f\x84 \xea\xb0\x80\xea\xb9\x9d\xea\xb3\xa0 \xec\xa3\xbc\xec\x9d\xb8\xeb\xb6\x84 \xec\xb9\xad\xec\xb0\xac\xeb\x8f\x84 \xec\x9e\x90\xec\x9e\x90\xed\x95\x9c \xed\x9b\x84\xea\xb8\xb0\xeb\xa5\xbc \xeb\xb3\xb4\xea\xb3\xa0 \xec\x9d\xb4\xeb\xa0\x87\xea\xb2\x8c \xeb\xa6\xac\xed\x80\x98\xec\x8a\xa4\xed\x8a\xb8\xeb\xa5\xbc \xed\x95\xb4\xeb\xb4\x85\xeb\x8b\x88\xeb\x8b\xa4.  \xeb\xb9\x84\xed\x9d\xa1\xec\x97\xb0\xec\x9e\x90 \xeb\xa7\x9e\xea\xb3\xa0 \xec\xa0\x80\xeb\x8f\x84 \xed\x98\xb8\xec\x8a\xa4\xed\x8a\xb8 \xea\xb2\xbd\xed\x97\x98\xec\x9d\xb4 \xec\x9e\x88\xec\x9c\xbc\xeb\x8b\x88 \xec\xa2\x8b\xec\x9d\x80 \xea\xb2\x8c\xec\x8a\xa4\xed\x8a\xb8\xeb\xa1\x9c \xec\xa7\x80\xeb\x82\xb4\xeb\x8f\x84\xeb\xa1\x9d \xed\x95\x98\xea\xb2\xa0\xec\x8a\xb5\xeb\x8b\x88\xeb\x8b\xa4. ^^',
  1,
  0.97289679215201164],
 ['i will be writing a romance novel:)', 1, 0.6660339660339728],
 ["hey i'm lindo! ", 1, 0.99855217174238342],
 ['we are coming for a program at ithaca college', 1, 0.52056910310918436],
 ['blah blah ', 1, 0.99855217174238342],
 ["working with nelson and jimmy on a jack daniel's project.",
  1,
  0.99855217174238342],
 ['is there any animals?', 1, 0.99710867397806613],
 ['birding festival', 1, 0.99855217174238342],
 ['dhdhd', 1, 0.99710867397806613],
 ['coming for the bioacoustics', 1, 0.99855217174238342],
 ['hello, this is darius', 1, 0.50796545715444219],
 ['coming with meghan simington!', 1, 0.99855217174238342],
 ["working on a story--i'm a journalist.", 1, 0.65301069999916994],
 ['hihihi', 1, 0.99710867397806613],
 ['helllooooo! have me?', 1, 0.99710867397806613],
 ['tedt', 1, 0.99710867397806613],
 ['babymoon', 1, 0.99710867397806613],
 ['family program at ithaca college', 1, 0.51353787056571676],
 ['\xe5\xa6\xb3\xe5\xa5\xbd! \xe6\x88\x91\xe8\xa6\x81\xe4\xbe\x86\xe7\xb4\x90\xe7\xb4\x84\xe6\x97\x85\xe8\xa1\x8c\xe3\x80\x82\xe5\xbe\x88\xe9\xab\x98\xe8\x88\x88\xe8\xaa\x8d\xe8\xad\x98\xe5\xa6\xb3\xe3\x80\x82',
  1,
  0.99903429903429697],
 ['ffbfgbdfgndgndgnzdggngndzngngn gfdbbnn  gngngnzg', 1, 0.99903429903429697],
 ['traveling with parents to go to the masters', 1, 0.9992755433424948],
 ['we have a family event at pecan springs ranch', 1, 0.64091403167751215],
 ['heyy', 1, 0.99710867397806613],
 ['\xe4\xbd\xa0\xe5\xa5\xbd\xef\xbc\x8c\xe6\x88\x91\xe6\x9c\x8b\xe5\x8f\x8b\xe5\x91\xa8\xe4\xba\x94\xe4\xbb\x8e\xe4\xb8\xad\xe5\x9b\xbd\xe8\xbf\x87\xe6\x9d\xa5\xe7\x8e\xa9\xef\xbc\x8c\xe5\x91\xa8\xe6\x97\xa5\xe7\xa6\xbb\xe5\xbc\x80\xe3\x80\x82\xe4\xb8\xa4\xe4\xb8\xaa\xe5\xa5\xb3\xe5\xad\xa9\xe5\xad\x90\xe6\x83\xb3\xe5\x9c\xa8\xe5\x91\xa8\xe4\xba\x94\xe6\x99\x9a\xe5\x92\x8c\xe5\x91\xa8\xe5\x85\xad\xe6\x99\x9a\xe4\xb8\x8a\xe6\x9a\x82\xe4\xbd\x8f\xe4\xbd\xa0\xe7\x9a\x84\xe6\x88\xbf\xe9\x97\xb4\xef\xbc\x8c\xe8\xb0\xa2\xe8\xb0\xa2\xe5\x95\xa6\xe3\x80\x82',
  1,
  0.54301326374021053],
 ['visiting with coworkers', 1, 0.50869955370180386],
 ['me and my gf will be staying here.', 1, 0.50442111672852363]]

In [159]:
y = lda_model_30[corpus[1]]

In [165]:
z = [item for item in y if item[0] == 2]

In [169]:
z[0][1]

0.041313581177095861

In [170]:
len(z)

1

In [192]:
#make a pandas dataframe that has the schema [message text, topic, topic probability]

df = pd.DataFrame([7, lda_model_30[corpus[7]]])

In [193]:
df

                                                   0
0                                                  7
1  [(7, 0.100079848113), (9, 0.334752994663), (11...

In [191]:
df.append(pd.DataFrame(lda_model_30[corpus[100]]))

    0         1
0   7  0.099578
1   9  0.334653
2  11  0.056714
3  21  0.446981
4  25  0.061956
0  19  0.169406
1  21  0.157008
2  28  0.673452

In [264]:
z = lda_model_30[corpus[17231]]
z0 = [x[0] for x in z]
z1 = [x[1] for x in z]
df = pd.DataFrame.from_items([('a', z0), ('b', z1)])

In [265]:
df

    a         b
0   9  0.141697
1  20  0.338097
2  26  0.519936

In [202]:
z0

[9, 20, 26]

In [226]:
df1 = pd.DataFrame([z0, z1, [1] * len(z0), ['meep'] * len(z0)]).transpose()

In [227]:
df1

    0         1  2     3
0   9  0.141637  1  meep
1  20  0.338185  1  meep
2  26  0.519908  1  meep

In [221]:
df1.append(pd.DataFrame([z0, z1]).transpose())

      0         1
0   9.0  0.141637
1  20.0  0.338185
2  26.0  0.519908
0   9.0  0.141637
1  20.0  0.338185
2  26.0  0.519908

In [45]:
#sample messages tagged with topic 1, make a list of [message text, topic, probability of being in topic]
random.seed(20170713)

#sample 10000 random contacts
n_corpus = len(corpus)
n_sample = 10000
mask = random.sample(xrange(n_corpus), n_sample)

#initialize dataframe
df = pd.DataFrame(data = None, columns = ['index', 'topic', 'probability', 'text'])



for i in range(n_sample):
    #get array of topics and probabilities for document i
    results_i = lda_model_30[corpus[mask[i]]]
    r0 = [x[0] for x in results_i]
    r1 = [x[1] for x in results_i]
    #append index (mask), topic, probability and text to dataframe
    #df.append(pd.DataFrame([mask[i]] * len(r0),r0, r1, [documents[mask[i]]] * len(r0)).transpose()) 
    df_temp = pd.DataFrame.from_items([('index', [mask[i]] * len(r0)), ('topic', r0), ('probability', r1), ('text', [documents[mask[i]]] * len(r0))])
    df = df.append(df_temp, ignore_index = True)

In [48]:
df.head()

,index,topic,probability,text
0,479585,7,0.435787,fishing and visit family
1,479585,19,0.563280,fishing and visit family
2,208567,2,0.094480,"hi, first time headed to chatanooga for a ..."
3,208567,9,0.204221,"hi, first time headed to chatanooga for a ..."
4,208567,14,0.140526,"hi, first time headed to chatanooga for a ..."

In [47]:
df.groupby('topic').agg('count').sort_values('text')

       index  probability  text
topic
1        975          975   975
28       986          986   986
2        991          991   991
13      1062         1062  1062
9       1082         1082  1082
20      1085         1085  1085
14      1187         1187  1187
16      1219         1219  1219
11      1230         1230  1230
29      1247         1247  1247
22      1269         1269  1269
17      1270         1270  1270
3       1287         1287  1287
0       1295         1295  1295
5       1307         1307  1307
12      1327         1327  1327
18      1365         1365  1365
24      1378         1378  1378
23      1393         1393  1393
7       1404         1404  1404
8       1453         1453  1453
25      1470         1470  1470
10      1490         1490  1490
27      1838         1838  1838
26      1968         1968  1968
15      2155         2155  2155
19      2174         2174  2174
4       2331         2331  2331
6       2390         2390  2390
21      2725         2725  2725

In [230]:
df = pd.DataFrame(data = None, columns = ['index', 'topic', 'probability', 'text'])

In [232]:
[1] * 8

[1, 1, 1, 1, 1, 1, 1, 1]

In [234]:
documents[1]

'hi sara! i am taking my parents and two kids to san diego for a week and would love to stay at your place! definitely need a quiet place for my parents, parking for our rental, and a place for my little one to sleep--looks like you have the entire package!!!!    let me know if it is available!  janellyn'

In [241]:
df.append(pd.DataFrame([z0, z1]).transpose())

      0         1 probability topic
0   9.0  0.141616         NaN   NaN
1  20.0  0.338469         NaN   NaN
2  26.0  0.519645         NaN   NaN

In [242]:
df

Empty DataFrame
Columns: [topic, probability]
Index: []

In [245]:
df

Empty DataFrame
Columns: [topic, probability]
Index: []

In [6]:
from airpy.analysis import erf 
exp = erf.AdHocERFExperiment('web_first_message_suggestions')
exp_data = exp.metrics.contact_to_book.get_subjects().head()

presto: Query: Complete after 20.31 sec on 2017-09-14. CAVEATS: Loaded from cache.
presto: Query: Complete after 14.70 sec on 2017-09-14. CAVEATS: Loaded from cache.
presto: Query: Complete after 14.74 sec on 2017-09-14. CAVEATS: Loaded from cache.

In [12]:
exp_data.head()

                          assignment  bookings  contact_trips     ratio
dim_treatment id_subject
control       10                 1.0       1.0            1.0  1.000000
              100000053          1.0       1.0            0.0       inf
              100000371          1.0       1.0            0.0       inf
              10000038           1.0       1.0            1.0  1.000000
              100000401          1.0       0.0            0.0       NaN